---

layout: majorHeader
permalink: /media
title: Media

---

<h3>Select Media Title (Scrollable)</h3>

<div class="media-nav">
    {% for item in site.data.mediaVideos %}
    <div style="text-align: center" class="{{item.class}}">
        {{item.name}}
    </div>
    {% endfor %}
    <div class="Television" style="text-align: center">
        Additional Television
    </div>

</div>

<hr/>

<h3>Filter Media</h3>

<button class="showOnlyTelevisionAppearances">Show Only Television</button>




<hr/>

<div class="media-videos">

    {% for item in site.data.mediaVideos %}

    <div class="{{item.class}}">

        <h2>{{item.name}}</h2>

        <div style="position:relative;
        padding-bottom:100%;
        padding-bottom:-webkit-calc(56.25% + 100px);
        padding-bottom:calc(56.25% + 100px);
        height: 0;">

            <iframe style="position:absolute;
        width: 100%;
        height: 100%;"
                    src="{{item.src}}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>

        </div>

    </div>

    {% endfor %}

    <div class="Television">
        <h2>Additional Television</h2>

        <a href="https://video.foxnews.com/v/5771947714001/?#sp=show-clips"><p> Mike on Fox News</p></a>
        <a href="https://cheddar.com/videos/spacing-out-with-mike-massimino"><p> Mike on Cheddar</p></a>
    </div>


</div>




