---

layout: majorHeader
permalink: /speaker
title: Speaker
pageSpecificJSName: speaker

---

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<div class="inner">
    <p>
        Mike shares with audiences personal stories of inspiration, innovation,
        teamwork and leadership as drawn from his experiences in one of the
        greatest and most dangerous jobs someone can have—NASA astronaut.
        Through humor and storytelling, he highlights the pursuit and achievement
        of a childhood dream, the dedication and teamwork necessary to train for
        one of NASA’s most difficult space missions, the determination needed
        to face tragedies like the Columbia space shuttle accident, and
        the innovation and leadership necessary to overcome seemingly
        insurmountable trials when in space and beyond. He leaves his
        audiences understanding the value of having passion for what you do,
        of perseverance in achieving a goal, of building a team to meet great
        challenges, and of creativity and innovation in problem solving. He
        also inspires audiences with the awe and beauty of space and shares
        his thoughts on the future—both personal and in regard to the ever-changing
        and competitive space program. Contact him <a href="https://mikemassimino.paperform.co/">here</a>!
    </p>

    <div class="media-video">
        {% include youtubeVideo.html id="J1uCJAik83s" title="Media Highlights" tag="speaking_selections" %}
        {% include youtubeVideo.html id="Z8ucFHBS2uU" title="Introducing Mike" tag="speaking_selections" %}
        {% include youtubeVideo.html id="2Bge1TSrGqs" title="Video Introduction" tag="speaking_selections" %}
        {% include youtubeVideo.html id="MLGdevZePgA" title="Massimino on Persistance" tag="speaking_selections" %}
        {% include youtubeVideo.html id="E0b7Wd57GUI" title="Funny Water Survival Story" tag="speaking_selections" %}
        {% include youtubeVideo.html id="ALtxCU32wis" title="Following Dreams and Setting Goals" tag="speaking_selections" %}
        {% include youtubeVideo.html id="roRVQhcz6so" title="Recovering from the Space Shuttle Accident" tag="speaking_selections" %}
        {% include youtubeVideo.html id="kMySqaPtA8A" title="An Astronaut's View of Space" tag="speaking_selections" %}
        {% include youtubeVideo.html id="wVtq8zdJ5uM" title="Teamwork and Innovation to Overcome Crisis" tag="speaking_selections" %}
    </div>

    <hr/>

    <p><a href="https://mikemassimino.paperform.co/" class="button primary large" style="margin-left: 30%; width: 40%; margin-right: 30%">Contact Mike</a></p>

    <hr/>

    <div class="speaker-reviews" style="background-color: #eee">
        {% for item in site.data.speakerTestimonials %}
        <div>
            <p style="padding: 30px">{{item.quote}}<br/><br/>
                <b>{{item.author}}</b><br/>
            </p>
        </div>
        {% endfor %}
    </div>

    <hr/>

    <h2>Topics</h2>
    <p>
        Achievement, Courage, Crisis Management,
        Disaster Preparedness, Innovation, Inspiring Lives,
        Leadership, Motivation, Overcoming Obstacles and Challenges,
        Personal Growth, Risk Management, Science, Teamwork
    </p>

    <hr/>

    <h2>Past Clients</h2>
    <p>
        {% for item in site.data.clientList %}
            <a style="text-decoration: none;">{{item.name}}</a>{% if forloop.last == false %} // {% endif %}
        {% endfor %}
    </p>
</div>
