<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<header>
			<h3>
				{% for item in site.data.nav %}
					<a href="{{ item.link }}" {% if page.url == item.link %}style="color: #7bd2ed;"{% endif %}>
						{{item.name}}
					</a>
					{% if forloop.last == false %}
					//
					{% endif %}
				{% endfor %}
			</h3>
		</header>
		<div class="features">
			<section>
				<h3>Intrepid Museum</h3>
				<p>Mike is the Senior Advisor of Space Programs at the Intrepid Museum in New York City. There are some fantastic programs coming up on board, don't miss out! For more information, please visit the <a href="https://www.intrepidmuseum.org/">Intrepid's website.</a></p>
			</section>
			<section>
				<h3>Columbia SEAS</h3>
				<p>Mike is a professor in Columbia University's engineering school, The Fu Foundation School of Engineering and Applied Science. For more information, please visit the <a href="https://engineering.columbia.edu/">SEAS website</a></p>
			</section>
		</div>
	</div>
	<p class="copyright">&copy; Astro Mike Media, LLC | All Rights Reserved | <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-use">Terms of Use</a></p>
</footer>
