<div class="custom-model-main">
	<div class="custom-model-inner">
		<div class="close-btn">×</div>
		<div class="custom-model-wrap">
			<div class="pop-up-content-wrap">
				<img class="overlay-image" src="/assets/images/moonshot_overlay.png" alt="Moonshot Cover">
				<div class="overlay-container">
					<a href="https://www.barnesandnoble.com/w/moonshot-mike-massimino/1143299799" class="button primary medium">Order from Barnes and Noble</a>
					<a href="http://www.amazon.com/gp/product/030683264X" class="button primary medium">Order from Amazon</a>
					<a href="https://www.target.com/p/moonshot-by-mike-massimino-hardcover/-/A-88969213" class="button primary medium">Order from Target</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-overlay"></div>
</div>