<!-- Scripts -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrolly.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollex.min.js"></script>
<script type="text/javascript" src="/assets/js/browser.min.js"></script>
<script type="text/javascript" src="/assets/js/breakpoints.min.js"></script>
<script type="text/javascript" src="/assets/js/util.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<script type="text/javascript" src="/assets/fancybox/js/jquery.fancybox.min.js"></script>