<a href="https://twitter.com/astro_mike" style="color: #8E8E8E; margin-right: 20px"><i class="fa-brands fa-square-x-twitter fa-3x"></i></a>
<a href="https://www.facebook.com/Mike-Massimino-196140620993676/" style="color: #8E8E8E; margin-right: 20px"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
<a href="https://www.instagram.com/astromikemassimino/" style="color: #8E8E8E; margin-right: 20px"><i class="fa-brands fa-square-instagram fa-3x"></i></a>
<a href="https://www.linkedin.com/in/michael-massimino-550785178/" style="color: #8E8E8E; margin-right: 20px"><i class="fa-brands fa-linkedin fa-3x"></i></a>
<a href="https://www.youtube.com/@mike_massimino" style="color: #8E8E8E; margin-right: 20px"><i class="fa-brands fa-square-youtube fa-3x"></i></a>