@import "colors.css";

*, *:after, *:before {
	box-sizing: border-box;
}

p {
	padding: 0 10px;
}

.grid > div {
	min-height: 300px;
	width: 100%;
}

.media-video {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}