<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mike Massimino - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    {% seo %}
    <link rel="icon" href="assets/images/favicon.png" sizes="32x32"/>
</head>

<body class="is-preload">

    <div id="page-wrapper">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

    </div>

    {% include scripts.html %}

</body>
</html>